@import "./scss/base/base";

.App {
  background-color: #f4f2f2;
  box-shadow: var(--shadow-dark);
  margin: 5rem auto;
  max-width: 190rem;
  min-height: 55rem;
  font-weight: bold;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

