@import "../../scss/base/base";

.about-us {
  display: flex;
  margin-top: 120px;

  h2 { 
    background-color: #fff;
    margin-left: 10px;
    padding: 10px;
    text-decoration: underline;
  }

  p {
    // margin-left: 10px;
    width: 100%;
    background-color: #fff;
    padding: 10px;
  }

  .rope-climb-img {
    width: 97%;
    background-size: 50%;
    margin: 0 10px;
  }

  // &-reading {
  //   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  // }

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }
  
  .sidebar {
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex: 0 0 18%;
    flex-direction: column;
    height: 145rem;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      background-color: var(--color-grey-dark-1);
      // flex: 0 0 18%;
      flex-direction: column;
      height: 11rem;
      justify-content: space-between;
    }
  }

  &-reading {
    font-size: 2rem;
    padding: 2rem;
    margin-left: -10px;
  }
}