@import "../../scss/base/base";

.gallery-page {
  display: flex;

  &-title {
    padding: 10px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 7rem;
    margin-left: 5px;
    text-align: center;

    @media only screen and (max-width: $bp-large) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    .gallery-photo {
      background-size: cover;
      padding: 5px; 

      @media only screen and (max-width: $bp-large) {
        height: 250px;
        width: 150px;
      }
    }

    .gallery-photo-last {
      height: 400px;
    }
  }

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }
  
  .sidebar {
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex: 0 0 18%;
    flex-direction: column;
    height: 145rem;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      background-color: var(--color-grey-dark-1);
      // flex: 0 0 18%;
      flex-direction: column;
      height: 11rem;
      justify-content: space-between;
    }
  }
}