@import "../../scss/base/base";

.flip-card-outer {
  height: 90rem;
  width: 40rem;
  margin-bottom: 30rem;

  @media only screen and (max-width: $bp-large) {
    margin-bottom: 30rem;
  }

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: .3s linear .1s;
    position: relative;
    width: inherit;
    height: inherit;

    &.showBack {
      transform: rotateY(188deg);
    }

    &.showBack {
      transform: rotateY(188deg);
    }

    .card {
      backface-visibility: hidden;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      &.front {
        background-color: #2d2d2d;
        height: 100%;
        color: #fff;
        transform: rotateY(0);
      }

      &.back {
        background-color: #fff;
        color: #2d2d2d;
        transform: rotateY(188deg);
        line-height: 35px;
      }
    }
  }
}
