@import "../../scss/base/base";

.main {
  h1 {
    padding: 10px 0;
    margin-left: 5px;
  }

  .gallery {
    background-color: var(--color-pimary-light);
    display: flex;
    flex: 3;
    height: 25rem;

    &-item {
      h1 {
        color: #fff;
        position: relative;
        // text-align: center;
      }

      .overview-reading-1 {
        font-size: 2rem;
        text-align: center;
        color: #fff;

        @media only screen and (max-width: $bp-small) {
          font-size: 1.5rem;
          margin-top: 1.5rem;
          line-height: 1.5rem;
        }
      }
    }
  
    &-photo {
      display: block;
      height: 23rem;
      width: 100%;

      @media only screen and (max-width: $bp-small) {
        height: 16rem;
      }
    }
  }

  .heading {
    font-size: 3rem;
    margin-top: -5rem;
    text-shadow: 2px 2px black;

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
  }

  // #heading-3 {
  //   color: black;
  // }
}

