@import "../../scss/base/base";

.sidebar {
  // width: 30rem;
  // @media only screen and (max-width: $bp-medium) {
  //   width: -100rem;
  // }

  &-content {
    margin-bottom: 5rem;
  }

  p {
    font-size: 2rem;
    text-decoration: none;
  }

  #certified {
    height: 22rem;
  }
  
  .icon {
    color: white;
    margin-top: 4rem;
    position: relative;
    z-index: 2;

    @media only screen and (max-width: $bp-small) {
      margin-left: 3rem;
      margin-top: 0;
      width: .5rem;
    }
  }

  @media only screen and (max-width: $bp-large) {
    &-content {
      display: none;
    }

    &-images {
      display: none;
    }
  }

  .side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-large) {
      display: flex;
      margin: 11px;
      font-size: 1.1rem;
    }

    &-item {
      position: relative;
      &:not(:last-child) { 
        margin-bottom: .5rem; 

        @media only screen and (max-width: $bp-large) {
          padding: 0;
          margin: 0;
        }
      }

      @media only screen and (max-width: $bp-large) {
        display: flex;
        flex: 1;
      }

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
      }
    }

    &-item::before {
      background-color: var(--color-primary);
      content: "";
      height: 100%;
      position: absolute;
      left: 0;
      transform: scaleY(0);
      transition: transform .2s, width .1s cubic-bezier(1, 0, 0, 1) .2s;
      width: 3px;
      
    }

    &-item:hover::before, &-item--active::before {
      transform: scaleY(1);
      width: 100%;

      @media only screen and (max-width: $bp-largest) {
        background-color: var(--color-grey-dark-1);
        height: 5rem; 
      }
    }

    &-item:active::before { 
      background-color: var(--color-primary-light); 

      
    }

    &-link:link,
    &-link:visited {
      align-items: center;
      color: var(--color-grey-light-1);
      display: flex;
      font-size: 2rem;
      margin-right: 2rem;
      padding: 1.5rem 2rem;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      z-index: 2;

      @media only screen and (max-width: $bp-medium) {
        justify-content: center;
        padding: 2rem;
        font-size: 1rem;
      }
    }
  }

  .legal {
    font-size: 2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }
}
