@import "../../scss/base/base";

.services {
  display: flex;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }
  
  .sidebar {
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex: 0 0 18%;
    flex-direction: column;
    height: 145rem;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      background-color: var(--color-grey-dark-1);
      // flex: 0 0 18%;
      flex-direction: column;
      height: 11rem;
      justify-content: space-between;
    }
  }

  .rows {
    margin-left: 1.5rem;

    &-section {
      background-color: #fff;
      display: flex;

      .column {

        h2 { 
          font-size: 3rem; 
          text-decoration: underline;
        }
        p { font-size: 1.55rem; }

        &-img {
          height: 40rem;
          width: 50rem;
        }
      }
    }
  }
}