@import "../../scss/base/base";

.services {
  display: flex;
  color: black;

  .sidebar {
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex: 0 0 18%;
    flex-direction: column;
    height: 145rem;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      display: none;
      background-color: var(--color-grey-dark-1);
      // flex: 0 0 18%;
      flex-direction: column;
      height: 11rem;
      justify-content: space-between;
    }
  }

  .services-container {
    display: flex;
    flex-direction: row;

    .row, .h-100 {
      margin: 0 auto;

      @media only screen and (max-width: $bp-large) {
        margin-left: 0px;
        width: 100%
      }
    }
  }
}