.services {
  display: flex;
  
  .sidebar {
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex: 0 0 18%;
    flex-direction: column;
    height: 145rem;
    justify-content: space-between;
  }

  .rows {
    margin-left: 1.5rem;

    &-section {
      display: flex;

      .column {
        h2 { font-size: 3rem; }
        p { font-size: 1.55rem; }

        &-img {
          height: 40rem;
          width: 50rem;
        }
      }
    }
  }
}