@import "../../scss/base/base";


.explanation-container {
  display: flex;
  padding: 2rem;

  @media only screen and (max-width: $bp-largest) {
    flex-direction: column;
  }

  .explanation {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    // box-shadow: var(--shadow-light);
    flex: 0 0 75%;
    margin-right: 1.5rem;
    padding: 1.5rem;

    .logo {
      height: 3.25rem;
      margin-left: 2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-right: 0rem;
    }

    h1 {
      // color: var(--color-grey-dark-1);
      font-size: 4rem;
      margin-bottom: 2rem;
      text-decoration: underline;
      padding: 1.5rem;
      // text-align: center;

      @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
        text-align: center;
        
      }
    }

    @media only screen and (max-width: $bp-medium) {
      &-header {
        line-height: 3.2rem;
      }
    }
    

    .list {
      border-bottom: var(--line);
      border-top: var(--line);
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-left: 2rem;
      padding: 3rem 1.5rem;

      &-item {
        flex: 0 0 50%;
        margin-bottom: 2rem;
      }
    }
  
    .paragraph { 
      color: var(--color-grey-dark-1);
      font-size: 2.5rem;
      margin-left: 2rem;
      width: 90%;

      @media only screen and (max-width: $bp-largest) {
        text-align: center;
        line-height: 2.5rem;
      }
    }
    .paragraph:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  
    ul {
      color: var(--color-grey-dark-1);
      font-size: 2rem;
      margin-left: 4.5rem;
    }
  }
}